<div class="tree-view-root">
    <app-tree-node
            (foldingChanged)="updateUnfoldedNodes($event)"
            (selectionChanged)="updateSelectedNodes($event)"
            *ngFor="let node of rootNodes; trackBy: giveId"
            [config]="config"
            [node]="node"
            [paddingLeft]="0"
            [isRootNode]="true"
            [path]="'$$ROOT'"
            [paddingIncrease]="10"
            [selectedNodes]="selectedNodes"
            [unfoldedNodes]="unfoldedNodes"
    ></app-tree-node>
</div>
