@import '../../../../../../assets/scss/color';

#home-sidebar {
  height: 100%;

  .component__wrapper {
    height: 100%;
    background: $color--tertiary;
    box-shadow: 1px 0 28px rgba(9, 10, 14, 0.31)
  }
}
