$color--primary: #CA3577;
$color--secondary: #4fcf89;
$color--tertiary: #0F1119;
$color--quaternary: #eade4c;
$color--quinary: #919191;
$color--senary: #4ceae4;
$color--septenary: #000000;
$color--octonary: #ffffff;
