<div class="offline__align">

    <div class="align__cloud">

        <svg height="100%" id="Layer_1" style="enable-background:new 0 0 48 48;" version="1.1" viewBox="0 0 48 48" width="100%"
             x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
            <path d="M18,38h-1c-3.3,0-6-2.7-6-6v-7h2v7c0,2.2,1.8,4,4,4h1V38z" style="fill:#CFD8DC;"/>
            <circle cx="29.5" cy="12.5" r="8.5" style="fill:#BBDEFB;"/>
            <circle cx="37" cy="20.9" r="7" style="fill:#BBDEFB;"/>
            <circle cx="11" cy="21" r="7" style="fill:#BBDEFB;"/>
            <circle cx="17.5" cy="13.5" r="6.5" style="fill:#BBDEFB;"/>
            <circle cx="25" cy="18.9" r="7" style="fill:#BBDEFB;"/>
            <path d="M7,24c0,2.2,1.8,4,4,4h25c2.2,0,4-1.8,4-4v-1c0-2.2-1.8-4-4-4H11c-2.2,0-4,1.8-4,4V24z"
                  style="fill:#BBDEFB;"/>
            <g>
                <polygon points="28,35 37,35 37,33 28,33  " style="fill:#FFC107;"/>
                <polygon points="28,41 37,41 37,39 28,39  " style="fill:#FFC107;"/>
            </g>
            <polygon points="29,32 25,32 22,35 22,39 25,42 29,42 " style="fill:#90A4AE;"/>
            <polygon points="22,35 18,35 18,39 22,39 " style="fill:#546E7A;"/>
            <polygon points="32,44 28,44 28,30 32,30 " style="fill:#546E7A;"/>
        </svg>

    </div>

    <div class="align__headline">Gah, this cloud isn't happy :(</div>

    <div class="align__description">Let's start by connecting this fluffy puff back to the internet. <a
            class="description__link" href="#">Get help</a></div>

</div>
