#home--container {
  .component__wrapper {
    display: flex;
    height: calc(100vh - 104px);

    .wrapper__sidebar {
      display: block;
      min-width: 272px;
      box-sizing: border-box;
      height: 100%;
    }

    .wrapper__body {
      flex-grow: 1;
    }

    .wrapper__iab {
      display: block;
      box-sizing: border-box;
      min-width: 495px;
      height: 100%;
    }
  }
}
