<div class="component component--container" id="footer--container">
    <div class="component__wrapper">
        <div class="wrapper__visibility">
            <app-hook [color]="colorEnums.QUINARY" [icon]="'tio-layers'"
                      class="visibility__hook"></app-hook>
        </div>
        <div class="wrapper__intelli">
            <app-footer-intelli></app-footer-intelli>
        </div>
        <div class="wrapper__controls">
            <app-footer-controls></app-footer-controls>
        </div>
    </div>
</div>