@import '../../../../../../assets/scss/color';

$block-spacing: 6px;

#tree-node {
  .component__wrapper {
    display: flex;
    color: $color--quinary;

    &--selected {
      background: mix(white, $color--tertiary, 6%);
    }

    &--root {
      .wrapper__content {
        .content__title {
          color: #80CBC4 !important;
          font-weight: 600;
        }
      }
    }

    &--description {
    }

    &--opaque {
      opacity: 0.5;
    }

    &--clickable {
    }

    .wrapper__controls {
      padding: 2px 7px;
      height: 24px;
      width: 20px;

      &--description {
        padding: 9px 2px;
      }

      .controls__caret {
        color: inherit;
        font-size: 23px;

        &--fold {

        }

        &--unfold {

        }
      }
    }

    .wrapper__content {
      padding: 4px 6px;

      &--description {
        .content__title {
          font-size: 13px;
          color: mix(white, $color--quinary, 30%) !important;
        }

        .content__description {
          text-transform: uppercase;
          font-size: 11px;
          color: mix(black, $color--quinary, 30%)
        }
      }

      &--selected {
        .content__title {
          color: $color--octonary;
        }
      }

      .content__title {
        font-size: 13px;
        color: $color--quinary;
      }
    }

    .wrapper__label {
      .label__input {
        display: none;
      }
    }

    .wrapper__icon {
      color: mix(black, $color--quinary, 30%);
      font-size: 23px;
      padding: 7px 10px;
      height: 28px;
      margin-left: auto;
      transition: all 100ms ease-in;

      &--selected {
        color: $color--octonary;
      }
    }

  }
}
